/* COMMON */
body {
  font-family: 'Inter', sans-serif;
  color: #000;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.material-icons {
  display: inline;
}

.max {
  width: 100% !important;
  height: auto !important;
}

/* HEADER NOTICE*/
header .inner .header-notice {
  width: 100%;
  color: #fff;
  background-color: #000;
  padding: 10px 0 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

header .inner .header-notice a {
  color: #fff;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  background-color: transparent;
}
/* CATEGORY */
.category {
  display: flex;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
  margin-bottom: -2px;
}

.circle.blue {
  background-color: #2800ff;
}

.circle.green {
  background-color: #00ff00;
}

.circle.pink {
  background-color: #ff00fb;
}

.category .category-name {
  font-size: 13px;
  font-weight: 700;
}

/* HEADER SUB NAVI */
header .inner .sub-nav {
  padding: 15px 0;
}

header .inner .sub-nav .container .row {
  display: flex;
  justify-content: space-between;
}

header .inner .sub-nav .container .row a {
  font-size: 13px;
  font-family: 'inter', sans-serif;
  line-height: 1.5;
  color: #000;
}

header .inner .sub-nav .container .row .left-nav img {
  width: 16px;
  height: 16px;
  padding-right: 15px;
}

header .inner .sub-nav .container .row .right-nav img {
  width: 16px;
  height: 16px;
  padding-left: 15px;
}

header .inner .sub-nav .container .left-nav,
header .inner .sub-nav .container .right-nav {
  display: flex;
  width: 320px;
  height: 24px;
  padding: 0 20px;
  box-sizing: border-box;
}

header .inner .sub-nav .container .right-nav {
  justify-content: flex-end;
}

header .inner .sub-nav .container .header-text {
  width: 680px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/* HEADER LOGO */
header .inner .header-logo {
  padding-top: 20px;
  padding-bottom: 24px;
}

header .inner .header-logo .container .logo {
  display: flex;
  justify-content: center;
}

header .inner .header-logo .container .logo img {
  width: 600px;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

header .inner .header-logo .container .logo-info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .inner .header-logo .container .logo-info .left,
header .inner .header-logo .container .logo-info .right {
  width: 360px;
  height: 65.59px;
  padding: 0 20px;
  box-sizing: border-box;
}

header .inner .header-logo .container .logo-info .center {
  width: 720px;
  height: 65.59px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header .inner .header-logo .container .logo-info .center .info {
  box-sizing: border-box;
  justify-content: space-between;
}

header .inner .header-logo .container .logo-info .left {
  display: flex;
  align-items: flex-end;
}

header .inner .header-logo .container .logo-info .left img {
  width: 108px;
}

header .inner .header-logo .container .logo-info .info .wrap {
  display: flex;
  text-align: center;
  font-size: 13px;
  line-height: 1.6;
  align-items: center;
}

header .inner .header-logo .container .logo-info .info .wrap .text {
  width: 240px;
  padding: 0 20px;
  box-sizing: border-box;
}

header .inner .header-logo .container .logo-info .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .inner .header-logo .container .logo-info .right .weather {
  display: flex;
  align-items: center;
}

header .inner .header-logo .container .logo-info .right .weather span {
  font-size: 12px;
  margin-left: 10px;
}

header .inner .header-logo .container .logo-info .right .weather img {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

/* HEADER MAIN MENU */
header .inner .main-menu {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 12px 0;
  box-sizing: border-box;
}

header .inner .main-menu .container .row {
  position: relative;
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
}

header .inner .main-menu .container .row .search {
  width: 240px;
}

header .inner .main-menu .container .row .search .wrap {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

header .inner .main-menu .container .row .search .wrap .icon {
  display: inline-block;
  padding-right: 5px;
  width: 16px;
  height: 16px;
}

header .inner .main-menu .container .center-nav .wrap {
  display: flex;
  width: 920px;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

header .inner .main-menu .container .center-nav .wrap .menu {
  margin: 0 24px;
  cursor: pointer;
}

header .inner .main-menu .container .brand-nav {
  width: 240px;
  padding: 0 20px;
  box-sizing: border-box;
}

header .inner .main-menu .container .brand-nav .wrap {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

header .inner .main-menu .container .brand-nav .wrap .text {
  font-size: 14px;
}

header .inner .main-menu .container .row .brand-nav .wrap .icon {
  display: inline-block;
  padding-right: 5px;
  width: 16px;
  height: 16px;
}

/* MAIN SECTION */
header .inner .main {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

header .inner .main .banner img {
  height: 525px;
}

header .banner-desc .container .row {
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
  margin-right: -20px;
  margin-left: -20px;
}

header .banner-desc .container .row .content {
  width: 440px;
  height: 270.34px;
  padding: 0 20px;
}

header .banner-desc .container .row .content.col-1 .category {
  margin-bottom: 15px;
}

/* header .banner-desc .container .row .content.col-1 .category .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2800ff;
  margin-right: 6px;
  margin-bottom: -2px;
}

header .banner-desc .container .row .content.col-1 .category .category-name {
  font-size: 13px;
  font-weight: 700;
} */ 

header .banner-desc .container .row .content.col-1 .title {
  font-size: 28px;
  font-weight: 700;
}

header .banner-desc .container .row .content.col-1 .sub-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

header .banner-desc .container .row .content.col-2 .desc,
header .banner-desc .container .row .content.col-3 .desc {
  font-size: 16px;
  margin-top: 40px;
  color: #444;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.6;
}

/* CURATION SECTION */
header .curation .container .row {
  display: flex;
} 
header .curation .container .row .left,
header .curation .container .row .right {
  height: 840.25px;
  padding: 0 20px;
}
header .curation .container .row .left {
  width: 960px;
}
header .curation .container .row .right {
  width: 480px;
  background-color: bisque;
}
header .curation .container .row .left .category {
  padding-bottom: 20px;
}
header .curation .container .row .left .row.today {
  
}
header .curation .container .row .left .row.today  {
  position: relative;
  display: flex;
}
header .curation .container .row .left .row.today .wrap {
  width: 240px;
}
header .curation .container .row .left .row.today .wrap .weather-wrap {
  font-size: 18px;
  font-weight: 700;
  display: flex;
}
header .curation .container .row .left .row.today .wrap .weather-wrap img {
  width: 24px;
  height: auto;
  margin: 1px 10px;
  opacity: 0.5;
}
header .curation .container .row .left .row.today .wrap .update {
  font-size: 13px;
  color: #a4a4a4;
  position: absolute;
  bottom: 3px;
}
header .curation .container .row .left .row.today .today-desc {
  font-size: 13px;
  /* margin-top: 40px; */
  color: #444;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.6;
}


/* SERIAL SECTION */
.space {
  width: auto;
  height: 3000px;
}