/* COMMON */
body {
  font-family: 'Inter', sans-serif;
  color: #000;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.material-icons {
  display: inline;
}

/* HEADER NOTICE*/
header .inner .header-notice {
  width: 100%;
  color: #fff;
  background-color: #000;
  padding: 10px 0 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
header .inner .header-notice a {
  color: #fff;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  background-color: transparent;
}
/* SUB NAVI */
header .inner .sub-nav {
  padding: 15px 0;
}
header .inner .sub-nav .container .row {
  display: flex;
  justify-content: space-between;
}
header .inner .sub-nav .container .row a {
  font-size: 13px;
  font-family: 'inter', sans-serif;
  line-height: 1.5;
  color: #000;
}
header .inner .sub-nav .container .row .left-nav img {
  width: 16px;
  height: 16px;
  padding-right: 15px;
}
header .inner .sub-nav .container .row .right-nav img {
  width: 16px;
  height: 16px;
  padding-left: 15px;
}
header .inner .sub-nav .container .left-nav,
header .inner .sub-nav .container .right-nav {
  display: flex;
  width: 320px;
  height: 24px;
  padding: 0 20px;
  box-sizing: border-box;
}
header .inner .sub-nav .container .right-nav {
  justify-content: flex-end;
}
header .inner .sub-nav .container .header-text {
  width: 680px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
/* HEADER LOGO */
header .inner .header-logo {
  padding-top: 20px;
  padding-bottom: 24px;
}
header .inner .header-logo .container .logo {
  display: flex;
  justify-content: center;
}
header .inner .header-logo .container .logo img {
  width: 600px;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}
header .inner .header-logo .container .logo-info {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .inner .header-logo .container .logo-info .left,
header .inner .header-logo .container .logo-info .right {
  width: 360px;
  height: 65.59px;
  padding: 0 20px;
  box-sizing: border-box;
}
header .inner .header-logo .container .logo-info .center {
  width: 720px;
  height: 65.59px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header .inner .header-logo .container .logo-info .center .info {
  box-sizing: border-box;
  justify-content: space-between;
}
header .inner .header-logo .container .logo-info .left {
  display: flex;
  align-items: flex-end;
}
header .inner .header-logo .container .logo-info .left img {
  width: 108px;
}
header .inner .header-logo .container .logo-info .info .wrap {
  display: flex;
  text-align: center;
  font-size: 13px;
  line-height: 1.6;
  align-items: center;
}
header .inner .header-logo .container .logo-info .info .wrap .text {
  width: 240px;
  padding: 0 20px;
  box-sizing: border-box;
}
header .inner .header-logo .container .logo-info .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .inner .header-logo .container .logo-info .right .weather {
  display: flex;
  align-items: center;
}
header .inner .header-logo .container .logo-info .right .weather span {
  font-size: 12px;
  margin-left: 10px;
}
header .inner .header-logo .container .logo-info .right .weather img {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}
/* MAIN MENU */
header .inner .main-menu {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 12px 0;
  box-sizing: border-box;
}
header .inner .main-menu .container .row {
  position: relative;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
header .inner .main-menu .container .row .search {
  width: 240px;
}
header .inner .main-menu .container .row .search .wrap {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
header .inner .main-menu .container .row .search .wrap .icon {
  display: inline-block;
  padding-right: 5px;
  width: 16px;
  height: 16px;
}
header .inner .main-menu .container .center-nav .wrap {
  display: flex;
  width: 920px;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}
header .inner .main-menu .container .center-nav .wrap .menu {
  margin: 0 24px;
  cursor: pointer;
}
header .inner .main-menu .container .brand-nav {
  width: 240px;
  padding: 0 20px;
  box-sizing: border-box;
}
header .inner .main-menu .container .brand-nav .wrap {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
header .inner .main-menu .container .brand-nav .wrap .text {
  font-size: 14px;
}
header .inner .main-menu .container .row .brand-nav .wrap .icon {
  display: inline-block;
  padding-right: 5px;
  width: 16px;
  height: 16px;
}
/* MAIN BANNER */
header .inner .main-banner .banner-area {
  width: 100%;
  height: 525px;
}
header .inner .main-banner .banner-area img {
  height: 525px;
}